In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.read_csv('성도정보.csv', encoding='ANSI' )
pd.read_csv('출석정보.csv', encoding='ANSI' )

      일련번호        예배날짜   예배구분    성명     헌금     출석
0        0  2021-12-17  금요기도회    고설  12000  False
1        1   2020-2-13   새벽예배   황수호  79000   True
2        2   2021-2-20   새벽예배   노송이  77000   True
3        3   2020-8-15   새벽예배   복민경  45000   True
4        4    2020-3-5   새벽예배  사공세환  21000   True
...    ...         ...    ...   ...    ...    ...
2395  2395  2020-12-21   새벽예배    심지  77000  False
2396  2396   2021-3-12  금요기도회   강동근  48000  False
2397  2397  2021-10-13   수요예배   신한길  98000   True
2398  2398    2021-7-7   수요예배   이인혜  49000   True
2399  2399   2021-10-1  금요기도회   조병일  30000   True

[2400 rows x 6 columns]

In [142]:
def read_memberinfo():
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
      
    #memberinfo = pd.read_csv('성도정보.csv', encoding='ANSI' )
    memberinfo = pd.read_csv('성도정보.csv' )

    return memberinfo

def read_attendinfo():
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt

    #attendinfo = pd.read_csv('출석정보.csv', encoding='ANSI' )
    attendinfo = pd.read_csv('출석정보.csv' )

    return attendinfo


def save_attendinfo(attendinfo):
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    attendinfo.iloc[:,1:].to_csv('출석정보.csv')
#    return attendinfo

def save_memberinfo(memberinfo):
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    memberinfo.iloc[:,1:].to_csv('성도정보.csv')
#    return memberinfo
    



def add_attendinfo(attendinfo,newline_attendinfo):
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    # 열 개수가 맞는지 확인
    attendinfo = attendinfo.append(newline_attendinfo, ignore_index=True)
    return attendinfo

def add_memberinfo(memberinfo,newline_memberinfo):
    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    # 열 개수가 맞는지 확인
    #print(newline_memberinfo)
    memberinfo = memberinfo.append(newline_memberinfo, ignore_index=True)
    #print(memberinfo)
    return memberinfo



# r1.apply(len)
def see_memberinfo_rowindex(memberinfo, startrow, endrow):
# 0부터 len()까지
    for i in range(startrow, endrow+1):
        print ( memberinfo.iloc[i] , '\n\n' )


def see_attendinfo_rowindex(attendinfo, startrow, endrow):
# 0부터 len()까지
    for i in range(startrow, endrow+1):
        print ( attendinfo.iloc[i] , '\n\n' )





def make_iloc_index():
    print('추출할 행번호를 입력하세요.')
    print('범위는 - 을 이용하여  1-20과 같이 지정하며,')
    print('각 원소는 , 로 구분하여 25-80,91,92,93 와 같이 입력합니다.')
    print('또한 모든 띄어쓰기는 제거됩니다. ex) 10 4 는 104로 입력됩니다.')
    row1 = input(' >>>>>>>>> ')
    row1 = row1.replace(" ",'')
    row1 = row1.split(',')
    print (row1 )

    row2 = []
    # row1.extend(list(range(5,30)))

    for i in row1:
        if '-' in i:
            temp = i.split('-')
            row2.extend(list(range(int(temp[0]),int(temp[1])+1)))
        else:
            row2.append(int(i))

    row2 = list(set(row2))
    
    print(row1)
    print(row2)
    return row2.sort()


def see_columns(allinfo):
    print(allinfo.columns)
    print (allinfo.index.name)

######################################################################
#######################################################################3
########################################################################


r1 = read_memberinfo()
#print (r1)

r1 = add_memberinfo(r1 , r1.iloc[2])
#print (r1)

r2 = read_attendinfo()
#print (r2)

r2 = add_attendinfo(r2 , r2.iloc[2])
#print (r2)

i1 = 15 
i2 = 30

# r1 = see_memberinfo_rowindex(r1, i1, i2)
# r1.apply(len)
#print (r1.columns)

r1.index
#mli2 = pd.DataFrame( mli3 , index = mli['성명'])
r1 = pd.DataFrame(r1, index = r1['생년월일'])
#print (r1.index.name)
see_columns(r1)
len( r1.columns )

Index(['Unnamed: 0', '성명', '직분', '등록일', '생년월일', '성별', '나이'], dtype='object')
생년월일

7

In [ ]:
# pandas 범위 선택하는 방법

# 1. []
# 객체(변수)명 [ 행범위 or 열(전체) ] 
# 행 하나(숫자 하나)는 불가능


#2. .iloc  .... 행번호
# 객체(변수)명  .iloc [[특정행, 특정행...], [특정열, 특정열...]]
# 객체(변수)명  .iloc [행범위, 열범위]
# 


# 3.  .loc   .... 이름 
# mli.loc[name1 , ['직분','생년월일']]
# 객체(변수)명  .loc [  인덱스와 일치되는 값  ,  ['열이름1', '열이름2']   ]



#4.   .iat  .... 1개만 추출
# 객체(변수)명   .iat[숫자, 숫자]
# = 객체(변수)명   .iloc[숫자, 숫자]



#5. mli2 =  mli['나이'].isin([50,60,70,80,90]) 
# 개체 .isin( [원소들]  )
# 개체의 모든값을 대상으로
# []안에 있는 값에 해당하는 값이 있는지 확인해서
# True / False 값을
# 인덱스와 같이 반환해줌

#mli[ mli['나이'].isin([50,60,70,80,90]) ]
# 인덱스가 True인 값을 반환

In [92]:
r1 = read_memberinfo()
print (r1[0:10])

   Unnamed: 0    성명    직분         등록일        생년월일 성별  나이
0           0    장달  안수집사   2006-12-2   1949-2-20  남  72
1           1   송다운  안수집사   2002-8-24   1960-6-16  여  61
2           2   문힘찬    집사  2009-12-22    1974-2-4  여  47
3           3  사공믿음    집사    2000-2-9    1962-7-6  여  59
4           4  봉빛가람    집사    2003-8-6    1979-4-3  여  42
5           5   손한결    성도   2004-9-22   1955-9-27  남  66
6           6   윤우람  안수집사    1996-9-4    1942-9-9  여  79
7           7   표한결    집사   1998-2-15   1950-2-25  남  71
8           8   강버들    성도   1997-8-14  1971-11-27  여  50
9           9   최우람    집사  1996-12-21    1969-7-6  여  52

In [34]:
save_memberinfo(r1)
save_attendinfo(r2)

In [42]:
r1 = read_memberinfo()

print (r1)

     Unnamed: 0    성명    직분         등록일        생년월일 성별  나이
0             0    장달  안수집사   2006-12-2   1949-2-20  남  72
1             1   송다운  안수집사   2002-8-24   1960-6-16  여  61
2             2   문힘찬    집사  2009-12-22    1974-2-4  여  47
3             3  사공믿음    집사    2000-2-9    1962-7-6  여  59
4             4  봉빛가람    집사    2003-8-6    1979-4-3  여  42
..          ...   ...   ...         ...         ... ..  ..
236         236   정유리    집사    2003-1-6   1938-3-21  여  83
237         237   홍혜림    성도   2008-7-11    1961-7-7  남  60
238         238   정숙자    집사   1998-1-11    2009-3-5  여  12
239         239   허경완    장로    2005-2-8  1930-11-14  남  91
240         240   이원진    성도    2000-1-1   1994-1-24  남  27

[241 rows x 7 columns]

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

memberinfo = pd.read_csv('성도정보.csv' )
print(memberinfo)

newline_memberinfo = memberinfo.iloc[2]
# 열 개수가 맞는지 확인
print(newline_memberinfo)

memberinfo = memberinfo.append(newline_memberinfo, ignore_index=True)
print(memberinfo)

     Unnamed: 0    성명    직분         등록일        생년월일 성별  나이
0             0    장달  안수집사   2006-12-2   1949-2-20  남  72
1             1   송다운  안수집사   2002-8-24   1960-6-16  여  61
2             2   문힘찬    집사  2009-12-22    1974-2-4  여  47
3             3  사공믿음    집사    2000-2-9    1962-7-6  여  59
4             4  봉빛가람    집사    2003-8-6    1979-4-3  여  42
..          ...   ...   ...         ...         ... ..  ..
236         236   정유리    집사    2003-1-6   1938-3-21  여  83
237         237   홍혜림    성도   2008-7-11    1961-7-7  남  60
238         238   정숙자    집사   1998-1-11    2009-3-5  여  12
239         239   허경완    장로    2005-2-8  1930-11-14  남  91
240         240   이원진    성도    2000-1-1   1994-1-24  남  27

[241 rows x 7 columns]
Unnamed: 0             2
성명                   문힘찬
직분                    집사
등록일           2009-12-22
생년월일            1974-2-4
성별                     여
나이                    47
Name: 2, dtype: object
     Unnamed: 0    성명    직분         등록일        생년월일 성별  나이
0             0    장달  안수집사   2006-12-2   1949-2-20  남  72
1             1   송다운  안수집사   2002-8-24   1960-6-16  여  61
2             2   문힘찬    집사  2009-12-22    1974-2-4  여  47
3             3  사공믿음    집사    2000-2-9    1962-7-6  여  59
4             4  봉빛가람    집사    2003-8-6    1979-4-3  여  42
..          ...   ...   ...         ...         ... ..  ..
237         237   홍혜림    성도   2008-7-11    1961-7-7  남  60
238         238   정숙자    집사   1998-1-11    2009-3-5  여  12
239         239   허경완    장로    2005-2-8  1930-11-14  남  91
240         240   이원진    성도    2000-1-1   1994-1-24  남  27
241           2   문힘찬    집사  2009-12-22    1974-2-4  여  47

[242 rows x 7 columns]

In [98]:
row1 = input('추출할 행번호를 입력하세요')
print (row1 )

10-50,25-80,91,92,93,105,126,204

In [108]:
row1 = row1.split(',')
row2 = []
for i in row1:
    print( i )
    row2.append ( i.split('-') )

print(row2)

10-50
25-80
91
92
93
105
126
204
[['10', '50'], ['25', '80'], ['91'], ['92'], ['93'], ['105'], ['126'], ['204']]

In [115]:
row1.append('100-150')
for i in row1:
    if '-' in i:
        print(i)
    else:
        print(i)

10-50
25-80
91
92
93
105
126
204
150-200
100-150

In [122]:
row2 = []
# row1.extend(list(range(5,30)))

for i in row1:
    if '-' in i:
        temp = i.split('-')
        row2.extend(list(range(int(temp[0]),int(temp[1])+1)))
    else:
        row2.append(int(i))

row2 = list(set(row2))
row2.sort()
print(row1)
print(row2)

['10-50', '25-80', '91', '92', '93', '105', '126', '204', '150-200', '100-150']
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 91, 92, 93, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 204]

In [130]:
def see():
    print('추출할 행번호를 입력하세요.')
    print('범위는 - 을 이용하여  1-20과 같이 지정하며,')
    print('각 원소는 , 로 구분하여 25-80,91,92,93 와 같이 입력합니다.')
    print('또한 모든 띄어쓰기는 제거됩니다. ex) 10 4 는 104로 입력됩니다.')
    row1 = input(' >>>>>>>>> ')
    row1 = row1.replace(" ",'')
    row1 = row1.split(',')
    print (row1 )

    row2 = []
    # row1.extend(list(range(5,30)))

    for i in row1:
        if '-' in i:
            temp = i.split('-')
            row2.extend(list(range(int(temp[0]),int(temp[1])+1)))
        else:
            row2.append(int(i))

    row2 = list(set(row2))
    
    print(row1)
    print(row2)
    return row2.sort()


see()

추출할 행번호를 입력하세요.
범위는 - 을 이용하여  1-20과 같이 지정하며,
각 원소는 , 로 구분하여 25-80,91,92,93 와 같이 입력합니다.
또한 모든 띄어쓰기는 제거됩니다. ex) 10 4 는 104로 입력됩니다.
['10-20', '15-30', '41', '51', '61', '55-60', '100', '101', '104']
['10-20', '15-30', '41', '51', '61', '55-60', '100', '101', '104']
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 41, 51, 55, 56, 57, 58, 59, 60, 61, 100, 101, 104]

In [128]:
row1 = '10 - 20 , 15 - 30, 41,51,61, 55 - 60, 100,101,10 4'
row1.replace(" ","")
row1

'10 - 20 , 15 - 30, 41,51,61, 55 - 60, 100,101,10 4'